APP_NAME=wic_api
APP_ENV=local
APP_KEY=3e7YY35j4fNkEWUKVYUpacG7InljKZmU
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8080
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

QUEUE_CONNECTION=sync

CACHE_DRIVER=redis
REDIS_HOST=wic_api_redis

DEFAULT_USER_AGENT='Mozilla/5.0 (Linux; Android 13; SM-G998B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Mobile Safari/537.36'

# ktozvonil.net
KZ_PROVIDER=true
# telefonnyjdovidnyk.com.ua
TD_PROVIDER=true
# callinsider.com.ua
CI_PROVIDER=true
# slick.ly
SL_PROVIDER=true
# kto-zvonil.com.ua
KC_PROVIDER=true
# callfilter.app
CF_PROVIDER=true
