/.idea/
storage
.env
.phpunit.result.cache
.phpunit.cache
/tests/output
!/tests/output/.gitkeep
phpstan.neon
/vendor/
/storage/
!/storage/app/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/.phpstorm.meta.php
