parameters:
  paths:
    - app
    - bootstrap
    - config
    - database
    - routes
    - tests
  level: 9
  ignoreErrors:
     -
         message: "#type has no value type specified in iterable type array.#"
         path: tests/*
