<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">./tests/Acceptance</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <exclude>./tests/Feature/Providers/AbstractProviderTest.php</exclude>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CF_PROVIDER" value="1"/>
        <env name="CI_PROVIDER" value="1"/>
        <env name="KC_PROVIDER" value="1"/>
        <env name="KZ_PROVIDER" value="1"/>
        <env name="SL_PROVIDER" value="1"/>
        <env name="TD_PROVIDER" value="1"/>
<!--        <env name="USE_RANDOM_USER_AGENT" value="1"/>-->
        <env name="DEFAULT_USER_AGENT" value="Mozilla/5.0 (Linux; Android 13; SM-G998B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Mobile Safari/537.36"/>
    </php>
    <source>
        <include>
            <directory>./app</directory>
        </include>
    </source>
</phpunit>
