<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <exclude>./tests/Feature/Providers/AbstractProviderTest.php</exclude>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="CF_PROVIDER" value="true"/>
        <env name="CI_PROVIDER" value="true"/>
        <env name="KC_PROVIDER" value="true"/>
        <env name="KZ_PROVIDER" value="true"/>
        <env name="SL_PROVIDER" value="true"/>
        <env name="TD_PROVIDER" value="true"/>
    </php>
</phpunit>
